# 자료형 - 리스트 (list)
- 리스트명 = [요소1, 요소2, 요소3, ...]

In [1]:
a = [] # 비어있는 리스트
b = [1, 2, 3] # 숫자
c = ['Life', 'is', 'too', 'short'] #문자열
d = [1, 2, 'Life', 'is'] # 숫자, 문자
e = [1, 2, ['Life', 'is']] # 리스트 자체를 요소값으로

## 1. 리스트의 인덱싱과 슬라이싱

#### 1.1 리스트의 인덱싱

In [6]:
a = [1, 2, 3]
b = ['가', '나', '다']

print(a[0])
print(b[1])

1
나

In [7]:
print(a[-1])
print(b[-1])

3
다

In [8]:
a[0] + a[2]

4

In [9]:
b[1] + b[2]

'나다'

- 리스트 안에 리스트

In [14]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a[0])
print(a[3])
print(a[3][0])
print(a[-1][-1])

1
['a', 'b', 'c']
a
c

- 삼중 리스트

In [15]:
a = [1, 2, 3, ['a', 'b', 'c', ['Love', 'Like']]]
print(a[-1][-1][0])

Love

#### 1.2 리스트의 슬라이싱

In [17]:
a = '가나다라마'
print(a[:3])
print(a[3:])

가나다
라마

- 중첩된 리스트에서 슬라이싱하기

In [21]:
a = [1, 2, ['a', 'b'], 3]

print(a[1:])
print(a[2][:1])

[2, ['a', 'b'], 3]
['a']

#### 1.3 리스트 연산하기

- 리스트 더하기

In [22]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

print(a + b)

[1, 2, 3, 'a', 'b', 'c']

- 리스트 반복

In [23]:
a = [1, 2, 3]

print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

- 리스트 길이 구하기

In [24]:
a = [1, 2, 3]
len(a)

3

- 주의할 리스트 연산 오류

In [26]:
a = [1, 2, 3]
a[1] + 'Hello'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

정수와 문자열은 더할 수 없다.

In [28]:
str(a[1]) + 'Hello'

'2Hello'

## 2. 리스트의 수정과 삭제

In [31]:
a = [1, 2, 3]
a[1] = '10'

print(a[1])

10

- del 함수로 리스트 요소 삭제

In [32]:
a = [1, 2, 3]
del a[2]

print(a)

[1, 2]

In [33]:
a = [1, 2, 3]
del a[:2]

print(a)

[3]

## 3. 리스트 관련 함수

#### 3.1 리스트에 요소 추가 - append

- append의 사전적 의미 = 덧붙이다. 첨부하다.


append(x)는 리스트 맨 마지막에 x를 추가한다.

In [36]:
a = [1, 2, 3]

a.append(10)

print(a)

[1, 2, 3, 10]

In [43]:
a.append([1, 2, 3])

print(a)

[1, 2, 3, 10, [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

#### 3.2 리스트 정렬 - sort
- 리스트 요소를 순서대로 정리

In [46]:
a = [1, 4, 3, 2, 5]
b = ['a', 'e', 'c', 'd']

a.sort()
b.sort()

print(a)
print(b)

[1, 2, 3, 4, 5]
['a', 'c', 'd', 'e']

#### 3.3 리스트 뒤집기 - reverse
- 리스트를 역순으로 뒤집어 줌

In [47]:
a = [2, 3, 1]

a.reverse()
print(a)

[1, 3, 2]

#### 3.4 인덱스 반환 - index
- index(x) 함수 = 리스트에 x 값이 있으면 x의 인덱스 값을 리턴한다.

In [49]:
a = [1, 2, 3]

a.index(3)

2

In [50]:
a = [1, 2, 3]

a.index(8)

ValueError: 8 is not in list

만약 x값이 리스트에 존재하지 않으면 오류가 발생한다.

#### 리스트에 요소 삽입 - insert

- insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다.

In [55]:
a = [1, 2, 3]

a.insert(1, 10)
print(a)

[1, 10, 2, 3]

#### 리스트 요소 제거 - remove

- remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.

In [60]:
a = [1, 2, 3, 4, 3, 5]

a.remove(3)
print(a)

[1, 2, 4, 3, 5]

#### 리스트 요소 꺼내기 - pop
- pop() = 리스트의 맨 마지막 요소를 리턴하고 그 요소는 삭제

In [64]:
a = [1, 2, 3, 4, 5, 6]

a.pop()
print(a)

a.pop(3) # 리스트의 3번쨰 요소 리턴, 삭제
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

#### 리스트에 포함된 요소 개수 세기 - count
- count(x) = 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 리턴하는 함수

In [67]:
a = [1, 2, 3, 4, 3, 3, 5, 6, 3, 3]

a.count(3)

5

#### 리스트 확장 - extend
- extend(x) = x에는 리스트만 올 수 있으며, 원래의 a 리스트에 x 리스트를 더하게 된다.

In [1]:
a = [1, 2, 3]

a.extend([4, 5])
print(a)

b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

#### 리스트 초기화

- 1차원 리스트 초기화

In [ ]:
# N개의 원소가 0으로 초기화
a = [0] * N  

# N개의 원소가 True로 초기화
a = [True] * N

# 공백기준으로 리스트 만들기
a = map(int, input().split()) 

# Disjoint-Set 에서 parent 초기화
parent = [i for i in range(n)]

- 2차원 리스트 초기화

In [ ]:
# N*N 행렬을 0으로 초기화
s = [[0] * (N) for _ in range(N)]

# row*col 행렬을 0으로 초기화
s = [[0] * (col) for _ in range(row)]

- 3차원 리스트 초기화

In [ ]:
# 2*4*3 리스트를 0으로 초기화
L = [[[0 for col in range(3)] for row in range(4)] for depth in range(2)]