# 자료형 - 딕셔너리 (Dictionary)

 - 말 그대로 '사전'이라는 뜻,
 
 {key1: value1, key2: value2, key3: value3, ...}

In [1]:
dic = {'name': 'yeseol', 'phone': '010-1234-5678', 'birth': '1117'}

print(dic['name'])

yeseol

key에는 리스트를 넣을 수 없다. (수시로 변할 수 있기 때문이당당당당) (튜플은 가능하다.)

vlaue에는 리스트와 튜플을 넣을 수 있다.

In [5]:
a = {1: 'Hello'}
b = {'a': [1, 2, 3]}
c = {'가': (1, 2, 3)}

print(a[1])
print(b['a'])
print(c['가'])

Hello
[1, 2, 3]
(1, 2, 3)

- 주의사항

In [6]:
a = {1: 'a', 1: 'b'}

print(a[1])

b

동일한 key가 2개일 경우, 1개를 제외한 모든 key:value 값은 무시된다.

In [7]:
a = {[1,2] : 'Hello'}

TypeError: unhashable type: 'list'

key 값으로 리스트를 사용할 수 없다. 리스트는 수시로 변할 수 있기 때문이다.

## 1. 딕셔너리 관련 함수

#### 1.1 key 리스트 만들기 - keys

In [10]:
a = {'name': 'yeseol', 'phone': '010-1234-5678', 'birth': '1117'}

a.keys()

dict_keys(['name', 'phone', 'birth'])

dict_keys 자체를 리스트로 변환하려면 리스트 변환 함수를 사용하면 된다.

In [13]:
list(a.keys())

['name', 'phone', 'birth']

#### 1.2 value 리스트 만들기 - values

In [14]:
a = {'name': 'yeseol', 'phone': '010-1234-5678', 'birth': '1117'}

a.values()

dict_values(['yeseol', '010-1234-5678', '1117'])

In [17]:
list(a.values())

['yeseol', '010-1234-5678', '1117']

#### 1.3 key: value 쌍 얻기 - items

In [15]:
a = {'name': 'yeseol', 'phone': '010-1234-5678', 'birth': '1117'}

a.items()

dict_items([('name', 'yeseol'), ('phone', '010-1234-5678'), ('birth', '1117')])

In [16]:
list(a.items())

[('name', 'yeseol'), ('phone', '010-1234-5678'), ('birth', '1117')]

#### 1.4 key: value 쌍 모두 지우기 - clear

In [18]:
a. clear()
print(a)

{}

#### key로 value 얻기 - get

In [20]:
a = {'name': 'yeseol', 'phone': '010-1234-5678', 'birth': '1117'}

a.get('birth')

'1117'

get(x) 함수 = x라는 Key에 대응되는 Value를 리턴한다. 

a.get('birth')은 a['birth']을 사용했을 때와 동일한 결괏값을 리턴한다.
그렇다면 왜 get() 함수를 사용할까?

a['no']처럼 딕셔너리에 존재하지 않는 key를 가져올 경우, a['no'] 방식은 오류를 발생시킨다.

하지만 get() 함수의 a.get('no') 방식은 None을 리턴시킨다.

In [25]:
a = {'a' : 1}

print(a['a'])
print(a['no'])

1

KeyError: 'no'

In [26]:
a = {'a' : 1}

print(a.get('no'))

None

#### 1.5 해당 key가 딕셔너리 안에 존재하는지 확인하기 - in

In [27]:
a = {'name': 'yeseol', 'phone': '010-1234-5678', 'birth': '1117'}

'birth' in a

True

In [28]:
'age' in a

False

해당 key가 딕셔너리 안에 존재한다면 True,

존재하지 않는다면 False를 리턴한다.